@charset "UTF-8";
/*Variables*/
/*Color*/
/*Letra*/
/*ImageHover*/
/*Mixins*/
/*Mixin*/
/*Estilos Principales*/
/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
.logoTamano {
  height: 10vh;
}

.navbar {
  background-color: #003637;
}

.colorLetraNavbar {
  color: #f3a183;
}

.navbar-toggler {
  background-color: #8d9f87;
}

/*FOOTER*/
.estilosFooter {
  background-color: rgba(243, 161, 131, 0.2509803922);
}
.estilosFooter .contenedorFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.estilosFooter .contenedorFooter .logoPagos {
  height: 5vh;
}

@media (min-width: 350px) and (max-width: 767px) {
  .iconoRedes {
    font-size: 20px;
    color: #818e64;
  }
  .logoFooter {
    height: 30px;
  }
  .ferias__foto3 {
    padding-bottom: 1rem;
  }
  .card {
    width: 18rem;
  }
  .productos__container-encabezado {
    display: flex;
    justify-content: center;
  }
  .main__Index {
    display: block !important;
  }
  .main__Index-a {
    display: none;
  }
  .main__Index-c {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .iconoRedes {
    font-size: 26px;
    color: #818e64;
  }
  .logoFooter {
    height: 45px;
  }
  .card {
    width: 25rem;
  }
  .productos__container-encabezado {
    padding-left: 90px;
    padding-top: 25px;
  }
}
@media (min-width: 992px) {
  .iconoRedes {
    font-size: 36px;
    color: #818e64;
  }
  .logoFooter {
    height: 60px;
  }
  .card {
    width: 28rem;
  }
  .productos__container-encabezado {
    padding-left: 12px;
    padding-top: 25px;
  }
}
/*!
 * ImageHover.css - http://www.imagehover.io
 * Version 2.0
 * Author: Ciarán Walsh

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 */
[class^=imghvr-],
[class*=" imghvr-"] {
  position: relative;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  background-color: rgba(141, 159, 135, 0.3137254902);
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
}
[class^=imghvr-] > img,
[class*=" imghvr-"] > img {
  vertical-align: top;
  max-width: 100%;
}
[class^=imghvr-] figcaption,
[class*=" imghvr-"] figcaption {
  background-color: rgba(129, 142, 100, 0.2509803922);
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}
[class^=imghvr-] figcaption h1,
[class^=imghvr-] figcaption h2,
[class^=imghvr-] figcaption h3,
[class^=imghvr-] figcaption h4,
[class^=imghvr-] figcaption h5,
[class^=imghvr-] figcaption h6,
[class*=" imghvr-"] figcaption h1,
[class*=" imghvr-"] figcaption h2,
[class*=" imghvr-"] figcaption h3,
[class*=" imghvr-"] figcaption h4,
[class*=" imghvr-"] figcaption h5,
[class*=" imghvr-"] figcaption h6 {
  color: #ffffff;
}
[class^=imghvr-] a,
[class*=" imghvr-"] a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

[class^=imghvr-],
[class*=" imghvr-"],
[class^=imghvr-]:before,
[class^=imghvr-]:after,
[class*=" imghvr-"]:before,
[class*=" imghvr-"]:after,
[class^=imghvr-] *,
[class*=" imghvr-"] *,
[class^=imghvr-] *:before,
[class^=imghvr-] *:after,
[class*=" imghvr-"] *:before,
[class*=" imghvr-"] *:after {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.imghvr-hinge-up img {
  transform-origin: 50% 0%;
}
.imghvr-hinge-up figcaption {
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  font-family: "Raleway", sans-serif;
}
.imghvr-hinge-up:hover > img {
  transform: rotateX(-90deg);
}
.imghvr-hinge-up:hover figcaption {
  transform: rotateX(0);
}

/*Estilos Paginas*/
/*INICIO BODY*/
/*.carousel-container  {
    max-width: 50vh;
}*/
.main__Index {
  width: 100%;
  /*background-color: #f3a18360;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b c d";
}

.main__Index-a {
  grid-area: a;
  /*height: 50vh;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  background-color: #006062;
}

/*.main__Index-a:hover{
    transition: filter 2.5s ease-in;
    background-color: $color-secundario;
    background-position: center;

}*/
#carouselExampleIndicators {
  width: 100%;
  grid-area: c;
  display: flex;
  justify-content: center;
  background-color: rgba(242, 161, 134, 0.062745098);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(108%);
}

/*.carousel-item{
    width: 100%;
    height: 40vh;
}*/
.main__Index-b {
  grid-area: b;
  background-color: #006769;
}

.main__Index-b:hover {
  background-image: url(../imagenes/Carousel2cv.jpg);
  background-size: cover;
}

.main__Index-d {
  grid-area: d;
  background-color: #009597;
}

.main__Index-d:hover {
  background-image: url(../imagenes/Carousel1cv.jpg);
  background-size: contain;
}

/*Paginas/Quienes Somos*/
.quienesSomos__container-encabezado {
  font-family: "Playfair Display", serif;
  background-color: #8d9f87;
  font-size: medium;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}
.quienesSomos__container-encabezado h1 {
  margin-bottom: 0;
  text-shadow: 5px 5px 10px #003637;
}

.quienesSomos {
  background-color: rgba(243, 161, 131, 0.1254901961);
}

.textoQuienesSomos {
  font-family: "Bona Nova", serif;
  font-optical-sizing: auto;
  font-size: 1.4em;
  font-style: normal;
  color: #8d9f87;
}

/*Paginas/Productos*/
.productos {
  background-color: rgba(243, 161, 131, 0.1254901961);
}

.productos__container-encabezado {
  font-family: "Wittgenstein", serif;
  text-shadow: 2px 2px 5px #8d9f87;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 4px;
  background: rgba(202, 206, 218, 0.2509803922);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.btn {
  background-color: rgba(131, 212, 243, 0.3137254902);
}

#Macetas .estilos {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 0;
}

#SetDeBaño .estilos {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 0;
}

#SetdePosavasos .estilos {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 0;
}

#Terrazo .estilos {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 0;
}

#BanquitosDeHormigon .estilos {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 0;
}

#PortaVelas .estilos {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 0;
}

.ferias__container-encabezado {
  font-family: "Playfair Display", serif;
  background-color: rgba(141, 159, 135, 0.3137254902);
  font-size: medium;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

h1 {
  margin-bottom: 0;
  text-shadow: 5px 5px 10px #818e64;
}

.ferias__fondo {
  background-color: rgba(141, 159, 135, 0.3137254902);
  margin-right: 0;
  margin-left: 0;
}

/*Paginas/Contacto*/
.contacto__container-encabezado {
  font-family: "Playfair Display", serif;
  font-size: medium;
  padding-top: 20px;
  padding-bottom: 30px;
}

#contacto {
  min-height: 70vh;
}

.estilosMapa {
  display: flex;
  justify-content: right;
}

.contacto__AreaTexto {
  resize: none;
  height: 150px;
}

/*# sourceMappingURL=estilos.css.map */
