/*HEADER*/

.logoTamano  {
    height: 10vh;
}

.navbar  {
    background-color: $color-principal;
}

.colorLetraNavbar  {
    color: $color-secundario;
}

.navbar-toggler  {
    background-color: $color-terciario;
}