/*Color*/
$color-principal:#003637;
$color-secundario:#f3a183;
$color-terciario:#8d9f87;
$color-terciario-light:#8d9f8750;
$color-fondo-footer:#f3a18340;
$color-fondo-secciones:#f3a18320;
$color-fondo-cards:#caceda40;
$color-boton-cards:#83d4f350;
$color-carousel:#f2a18610;
$color-iconos: #818e64;

/*Letra*/
$letra-productos: "Wittgenstein", serif;
$letra-secciones: "Playfair Display", serif;
$letra-cards: "Raleway", sans-serif;
