/*Paginas/Contacto*/

.contacto__container-encabezado{
    font-family: $letra-secciones;
    font-size: medium;
    padding-top: 20px;
    padding-bottom: 30px;
}

#contacto  {
    min-height: 70vh;
}


.estilosMapa  {
    display: flex;
    justify-content: right;
}
